section.navigation
        header
          .header-content
            .logo
              a(href='#') Logo
            .header-nav
              nav
                ul.primary-nav
                  li
                    a(href='#') Home
                  li.active
                    a(href='#') About
                  li
                    a(href='#') Work
                  li
                    a(href='#') Services
                  li
                    a(href='#') Blog
                  li
                    a(href='#') Contact
            .navicon
              a.nav-toggle(href='#')
                span