<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<title>Demo</title>
	<meta content="" name="description">
	<meta content="" name="author">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&amp;subset=latin-ext" rel="stylesheet">
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js">
	</script>
</head>
<body>
	<!-- Hero Start
            ============================================= -->
	<section class="hero" id="hero">
		<section class="navigation">
			<header>
				<div class="header-content">
					<div class="logo">
						<a href="#">Logo</a>
					</div>
					<div class="header-nav">
						<nav>
							<ul class="primary-nav">
								<li>
									<a href="#">Home</a>
								</li>
								<li class="active">
									<a href="#">About</a>
								</li>
								<li>
									<a href="#">Work</a>
								</li>
								<li>
									<a href="#">Services</a>
								</li>
								<li>
									<a href="#">Blog</a>
								</li>
								<li>
									<a href="#">Contact</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="navicon">
						<a class="nav-toggle" href="#"><span></span></a>
					</div>
				</div>
			</header>
		</section>
		<section class="carousel-content owl-carousel owl-theme">
			<div class="item">
				<div class="item-content">
					<h1>Fusce dapibus tellus ac cursus commodo.</h1>
					<h1>Duis mollis est non commodo luctus, nisi erat porttitor.</h1>
				</div>
			</div>
			<div class="item">
				<div class="item-content">
					<h1>Fusce dapibus tellus ac cursus commodo.</h1>
				</div>
			</div>
			<div class="item">
				<div class="item-content">
					<h1>Fusce dapibus tellus ac cursus commodo.</h1>
					<h1>Duis mollis est non commodo luctus, nisi erat porttitor.</h1>
				</div>
			</div>
			<div class="item">
				<div class="item-content">
					<h1>Fusce dapibus tellus ac cursus commodo.</h1>
					<h1>Duis mollis est non commodo luctus, nisi erat porttitor.</h1>
				</div>
			</div>
		</section>
	</section><!-- Hero End
            ============================================= -->
	<!-- Email Start
            ============================================= -->
	<section class="email wp1 animated flipInY">
		<div class="email-wrapper">
			<div class="container">
				<div class="row">
					<div class="heading-content">
						<h1 class="heading">Lorem Ipsum</h1>
						<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
					</div>
					<form action="#" class="subscrible-from" method="post" role="form">
						<div class="form-input-group">
							<input class="" placeholder="Enter email adress" required="" type="text">
						</div><button class="btn-fill subscribe-btn" type="submit">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</section><!-- Email End
            ============================================= -->
	<!-- Feature Start
            ============================================= -->
	<section class="feature">
		<div class="container">
			<div class="feature-wrapper">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="feature-img"><img alt="Feature of our product" src="img/device-iphone.png"></div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="feature-main-content">
							<div class="feature-text-content">
								<h1>Our Product</h1>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
								<ul class="product-features">
									<li>Quisque volutpat mattis eros.</li>
									<li>Nullam malesuada erat ut turpis</li>
									<li>Suspendisse urna nibh</li>
								</ul><a class="btn btn-black btn-big" href="#">Big Buttton</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Feature End
            ============================================= -->
	<!-- Testimonials Second Start
            ============================================= -->
	<section class="testimonials-second">
		<div class="container">
			<div class="row">
				<h1 class="heading">Our Clients Love Us</h1>
			</div>
			<div class="testimonials-second-wrapper">
				<div class="row">
					<div class="col-md-6 col-sm-12 blockquotes">
						<blockquote>
							<div class="mugshout">
								<span aria-hidden="true" class="glyph-item mega" data-icon="&#xe005;" data-js-prompt="&amp;#xe005;"></span>
							</div>
							<div class="blockquote-content">
								<p>“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
								<h4>Chanel Iman</h4>
								<h5>CEO of Pinterest</h5>
							</div>
						</blockquote>
					</div>
					<div class="col-md-6 col-sm-12 blockquotes">
						<blockquote>
							<div class="mugshout">
								<span aria-hidden="true" class="glyph-item mega" data-icon="&#xe005;" data-js-prompt="&amp;#xe005;"></span>
							</div>
							<div class="blockquote-content">
								<p>“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
								<h4>Chanel Iman</h4>
								<h5>CEO of Pinterest</h5>
							</div>
						</blockquote>
					</div>
					<div class="col-md-6 col-sm-12 blockquotes">
						<blockquote>
							<div class="mugshout">
								<span aria-hidden="true" class="glyph-item mega" data-icon="&#xe005;" data-js-prompt="&amp;#xe005;"></span>
							</div>
							<div class="blockquote-content">
								<p>“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
								<h4>Chanel Iman</h4>
								<h5>CEO of Pinterest</h5>
							</div>
						</blockquote>
					</div>
					<div class="col-md-6 col-sm-12 blockquotes">
						<blockquote>
							<div class="mugshout">
								<span aria-hidden="true" class="glyph-item mega" data-icon="&#xe005;" data-js-prompt="&amp;#xe005;"></span>
							</div>
							<div class="blockquote-content">
								<p>“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
								<h4>Chanel Iman</h4>
								<h5>CEO of Pinterest</h5>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Testimonials Second End
            ============================================= -->
	<!-- Testimonials First Start
            ============================================= -->
	<section class="testimonials-first owl-carousel owl-theme">
		<div class="item">
			<div class="blockquote-content">
				<p>“Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat ”</p>
				<h4>Chanel Iman, PINTEREST</h4>
			</div>
		</div>
		<div class="item">
			<div class="blockquote-content">
				<p>“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
				<h4>Chanel Iman</h4>
			</div>
		</div>
		<div class="item">
			<div class="blockquote-content">
				<p>“Vullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisqua.”</p>
				<h4>Chanel Iman</h4>
			</div>
		</div>
	</section><!-- Testimonials First End
            ============================================= -->
	<!-- Map Start
            ============================================= -->
	<section class="map" id="map">
		<div class="container">
			<div class="row">
				<h1 class="heading">Get in Touch</h1>
				<h2 class="heading-desc">1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111</h2>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div id="cd-google-map">
					<div id="google-container"></div>
				</div>
			</div>
		</div>
	</section><!-- Map End
            ============================================= -->
	<!-- Contact Form Start
            ============================================= -->
	<section class="contact">
		<div class="container">
			<div class="row">
				<form action="#" class="contact-form" method="post" role="form">
					<div class="form-input-group">
						<input class="" placeholder="Your name" required="" type="text">
					</div>
					<div class="form-input-group">
						<input class="" placeholder="Your email" required="" type="text">
					</div>
					<div class="form-group">
						<textarea placeholder="Your Message"></textarea>
					</div><!--<div class="form-input-group col-md-12">
                        <textarea placeholder="Your Message"></textarea> 
                    </div>-->
					<button class="btn-fill contact-btn" type="submit">Send</button>
				</form>
			</div>
		</div>
	</section><!-- Contact Form End
            ============================================= -->
	<!-- Footer Start 
            ============================================= -->
	<footer>
		<div class="container-fluid">
			<div class="row">
				<p>© 2014 GraphicBurger. All rights reserved.</p><a href="#hero"><span aria-hidden="true" class="icon-arrow-up"></span></a>
			</div>
		</div>
	</footer><!-- Footer End 
            ============================================= -->
	<!-- 
      JS Files
    ================================================== -->
	<script src="https://maps.googleapis.com/maps/api/js">
	</script> 
	<script src="https://code.jquery.com/jquery-2.2.4.min.js">
	</script> 
	<script src="js/app.js">
	</script>
</body>
</html>